.header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'roboto';
    font-weight: bold;
    color: #11193F;
    background-color: #FFDD17;
    height: 50px;
    align-items: center;

}

.hero {
    display:flex;
    flex-direction: row;
    height:250px;
    background-color: #11193F;
    align-items: center;
    justify-content:space-evenly;
    background-image: url(./images/Stars-vertical-header.jpg);

}

.sfa1 {
    scale: 22%;
    margin: -300px;
}

#year {
    color:white;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 20;
}

.comic-books {
    height:450px;
    background-color: #11193F;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.comic-h1 {
    margin-top: 20px;
    margin-left: 50px;
    color:#F6723A;
    font-family: orbitron;
    font-size: 76;
    line-height: 1.0;
    margin-right: 0px;
}

.bar1 {
    width:350px;
    margin-left: 42px;
    margin-top: -35px;
    margin-right: 0px;
}

.p1 {
    color:white;
    font-family: roboto;
    font-weight: 400;
    width: 400px;
    margin-left: 52px;
    margin-top: 20px;
    line-height: 1.5;
    margin-right: 0px;
}

.left-c {
    flex-wrap: wrap;
    flex-direction: row;
}

#pic-pos1 {
    
    align-self: center;
    
}

#collage1 {
    display: flex;
    float:right;
    padding-bottom:30;
    width: 400px;
    align-content: center;
    justify-content: center;
    
}

@media screen and (min-width:500px) {
    #collage1 {width: 0px;}
    }


@media screen and (min-width:775px) {
    #collage1 {width: 300px; display:flex; align-content:center;}
    }

@media screen and (min-width:950px) {
#collage1 {width: 500px; margin-left:-20px;}
}

@media screen and (min-width:1300px) {
    #collage1 {width: 600px; float:right; margin-left:75px;}
    }

.tan {
    display: flex;
    height: 385px;
    background-image: url(/images/tan-background.jpg);
    margin-top: -18px;
    justify-content: center;

}        

.orange-bar {
    flex-wrap: wrap;
    display: flex;
    height: 60px;
    width: 450px;
    outline: 5px #11193F;
    outline-style: solid;
    background-color:#F6723A;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    position: absolute;
}

.mustsee {
    font-family: orbitron;
    font-size: 26;
    color:#11193F;
}

#bubbles {
    display:flex;
    align-items: center;
    margin-top: 105px;
}

#b1 {
    width: 25%;
    padding:2%;
}

#b2 {
    width: 25%;
    padding:2%;
}

#b3 {
    width: 25%;
    padding:2%;
}

@media screen and (min-width:950px) {
    #bubbles {width: 1000px;
    margin-top: 105px;}
}

#time {
    background-color: #F6723A;
    height: 450px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image:url(/images/spiral.png);
    background-size:650px;
    background-repeat: no-repeat;
    background-position: right;
}

#time1 {
    margin-top: -55px;

}

.time-header {
    color:#11193F;
    padding-top: 25px;
    margin-left: 50px;
    font-family: orbitron;
    font-size: 76;
    line-height: 1.0;
    margin-right: 0px;
}

#bar2 {
    width:415px;
    margin-left: 42px;
    margin-top: -35px;
    margin-right: 0px;
}

.p2 {
    color:white;
    font-family: roboto;
    font-weight: 400;
    width: 400px;
    margin-left: 52px;
    margin-top: 20px;
    line-height: 1.5;
    margin-right: 0px;
}
#tt-comics {
align-self: center;    
}

#tt-pic {
    display: flex;
    align-content: center;
    width: 40%;
}

@media screen and (min-width:500px) {
    #tt-pic {width: 0px;}
    }


@media screen and (min-width:775px) {
    #tt-pic {width: 300px; display:flex; align-content:center;}
    }

@media screen and (min-width:1000px) {
    #tt-pic {width: 500px; margin-left:20px;}
}

@media screen and (min-width:1300px) {
    #tt-pic {width: 600px; float:right; margin-left:75px;}
}


/* footer-section style */

.footer-section{
    background-color: #fff;
    color: #000;
    min-height: 100px;
    padding: 24px 10px 16px;
    text-transform: uppercase;
}
.footer-section a{
    color: inherit;
    text-decoration: none;
}
.footer-section .flex-box{
    font-size: 17px;
}
.footer-section .container{
    padding: 0px 50px;
}
.footer-section .flex-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.footer-section .flex-box>*{
    flex-shrink: 0;
    padding-right: 12px;
    padding-left: 12px;
}

.footer-section .flex-box .flex-6{
    flex: 0 0 auto;
    width: 50%;
}
.footer-section .footer-logo{
    max-width: 140px;
}
.footer-section .footer-contact-info{
   max-width: 400px;
   margin: auto;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-section .contact-flex{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.footer-section .contact-flex.align-items-center{
    align-items: center;
}
.footer-section .contact-flex .address-text{
    font-size: 16px;
}
.footer-section .contact-flex .address-text strong{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}
.footer-section .contact-flex .contact-icon{
    width: 30px;
    height: 30px;
}
.footer-section .footer-link{
    margin-top: 12px;
}
.footer-section .footer-links a{
    display: inline-block;
}
.footer-section .footer-socil-links{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}
.footer-section .footer-socil-links .social-flex{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 12px;
}
.footer-section .footer-socil-links .social-flex img{
    width: 35px;
}

.footer-section .footer-copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
}

@media screen and (max-width:767px) {

    .footer-section .flex-box> *{
        margin-bottom: 20px !important;
    }
    .footer-section .container{
        padding: 0px 20px;
    }

    .footer-section .flex-box .flex-3,
    .footer-section .flex-box .flex-6{
        width: 100%;
        margin-bottom: 12px !important;
    }
    .footer-section .footer-logo{
        max-width: 140px;
    }
    .footer-section .footer-contact-info{
        max-width: 100%;
    }
    .footer-section .footer-socil-links{
        margin-top: 10px;
    }
    .footer-section .contact-flex .address-text{
        max-width: 450px;
    }
}
