@font-face {
    font-family: 'Europa GroteskSH';
    src: url('FONTS/EuropaGroteskSH-Med.otf');
}
@font-face {
    font-family: 'Sharp Grotesk';
    src: url('FONTS/Sharp\ Grotesk\ DB\ Cyr\ Medium\ 22\ Regular.ttf');
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #101214;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    font-family: 'Europa GroteskSH';
}

.wrapper {
    background-image: url('../images/BG.png');
    background-size: 100%;
    position: relative;
}
.header .navbar {
    background: url('../images/navbar-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header .navbar .navbar-nav1 {
    justify-content: space-around;
    width: 100%;
    max-width: 520px;
}
.btn-swap {
    border: 1px solid #0A65FE;
    padding: 12px 32px 16px !important;
    border-radius: 12px;
    font-weight: 700;
    color: #fff;
}

.hero-section {
    min-height: calc(100vh - 139px);
    display: flex;
    padding-top: 120px;
    justify-content: center;
}
.hero-section .content {
    max-width: 378px;
    text-align: center;
}
.hero-section .content .heading {
    font-family: 'Sharp Grotesk';
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
}
.hero-section .content .btn-download {
    font-size: 15px;
    line-height: normal;
    padding: 13px 21px 17px 22px;
    background-color: #0A65FE;
    border-radius: 20px;
    color: #fff;
}

.section-one {
    text-align: center;
}
.section-one .content {
    max-width: 520px;
    margin: auto;
    padding-top: 20px;
    /* background-color: #000; */
}
.section-count  {
    text-align: center;
    margin-top: -54px;
}
.section-count span {
    background-image: url('../images/count-shadow.png');
    background-size: cover;
    background-position: center;
    width: 155px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 28px;
    margin-bottom: 18px;
}
/* .section-count img {
    object-fit: cover;
    object-position: center;
    width: 55px;
    height: 55px;
} */
/* .section-count span {
    color: #F9FDFF;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 1px solid #0A65FE;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(10, 101, 254, 0.5);
} */
.section-one .heading {
    font-family: 'Sharp Grotesk';
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: -6px;
}
.section-one .text {
    opacity: 0.6;
    margin-bottom: 25px;
}
.section-one .text b {
    font-weight: 400;
}
.section-one .highlight-text {
    color: #0A65FE;
    max-width: 390px;
    margin: auto;
}

.section-one .heading1 {
    font-family: 'Sharp Grotesk';
    font-size: 26px;
    line-height: 32px;
    margin: 18px 0px;
}

.star-list {
    padding: 80px 0px;
}
.star-list .top-card-section {
    background: linear-gradient(#2626268e, #00000000);
    margin-bottom: 36px;
    border-radius: 12px;
    padding-bottom: 8px;
}
.star-list .top-card-section img {
    object-fit: cover;
    object-position: center;
    height: 120px;
}
.star-list .top-card-section .title {
    font-family: 'Sharp Grotesk';
    color: #0A65FE;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.star-list .bottom-card-section .lists {
    max-width: 420px;
    margin: auto;
    font-size: 15px;
    color: #3D4A5F;
    text-align: left;
}
.star-list .bottom-card-section1 {
    background: transparent;
}
.star-list .bottom-card-section1 .title1 {
    margin-top: 70px;
}
.star-list .bottom-card-section1 .title1 .text {
    font-family: 'Europa GroteskSH';
    color: #666666;
    font-size: 13px;
    margin-top: 17px;
    max-width: 300px;
}
.star-list .bottom-card-section1 .flex  {
    padding-left: 40px;
}
.star-list .bottom-card-section1 .flex .w-150 {
    width: 147px;
    text-align: center;
}
.star-list .bottom-card-section1 .flex a {
    color: #0A65FE;
    text-decoration: underline;
    display: inline-block;
    margin: 20px 0px;
}

.section-two {
    padding: 100px 0px 40px;
    font-family: 'Sharp Grotesk';
}
.section-two .heading {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 120px;
    margin-top: -26px;
    text-align: center;
}
.section-two .left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 350px;
    position: relative;
}
/* .section-two .left-content::before {
    content: "";
    height: 97%;
    position: absolute;
    width: 2px;
    left: 13px;
    top: 33px;
    background-image: url(../images/section-two-line.png);
    z-index: 0;
} */
.section-two .left-content .imgg {
    width: 28px;
}
.section-two .left-content .text {
    font-size: 18px;
    color: #fff;
}
.section-two .imgg  {
    width: 140px;
}
.section-two .section-two-flex  {
    font-size: 22px;
    font-weight: 700;
    color: #0A65FE;
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.section-two .mb-20 {
    margin-bottom: 30px;
}
.section-two .section-two-flex .section-count {
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-two .section-two-flex .section-count span {
    width: 105px;
    height: 85px;
    font-size: 13px;
    color: #fff;
}
.section-two .section-two-card  {
    background-color: #262626;
    /* padding: 0px 68px 68px 18px; */
    border-radius: 20px;
    margin-top: 50px;
    padding: 36px 40px 36px 140px;
    border: 2px solid #ffffff24;
    font-size: 22px;
    font-weight: 700;
    color: #0A65FE;
    position: relative;
    margin-top: 0px;
}
.section-two .section-two-card .section-count {
    position: absolute;
    margin-top: 0px;
    left: 40px;
    top: 0px;
}
.section-two .section-two-card .section-count span {
    width: 105px;
    font-size: 13px;
    color: #fff;
}
.section-two .footer-img {
    padding-top: 80px;
}

.section-five,
.section-three {
    padding: 100px 0px;
    font-family: 'Sharp Grotesk';

}
.section-five .heading,
.section-three .heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    display: flex;
    margin-left: -40px;
}
.section-five .section-count,
.section-three .section-count {
    margin-top: 0px;
}
.section-five .heading .mt-30,
.section-three .heading .mt-30 {
    margin-top: 30px;
}
.section-three .carousels-section .item-content .date {
    font-size: 22px;
    font-weight: 600;
    color: #0A65FE;
    padding-left: 58px;
    padding-bottom: 8px;
}
.section-three .carousels-section .item-content .carousel-card  {
    background-color: #262626;
    padding: 0px 48px 48px 18px;
    border-radius: 20px;
    margin-top: 50px;
    border: 2px solid #ffffff24;
}
.section-three .carousels-section .item-content .carousel-card .top {
    display: flex;
    gap: 0px;
    align-items: end;
}
.section-three .carousels-section .item-content .carousel-card .img {
    margin-top: -50px;
}
.section-three .carousels-section .item-content .title {
    font-size: 22px;
    font-weight: 600;
    color: #0A65FE;
    margin-bottom: 54px;
    margin-left: -20px;
}
.section-three .carousels-section .item-content .text {
    font-family: 'Europa GroteskSH';
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 14px;
    color: #3D4A5F;
    font-size: 13px;
    padding-left: 50px;
}
.section-three .carousels-section .item-content .text div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 14px;
}
.section-three .carousels-section .item-content .text span.dot {
    color: #0A65FE;
}

.section-four {
    background-color: #0A65FE;
    color: #fff;
    padding: 35px 0px 60px;
}
.section-four .content{
    max-width: 550px;
    margin: auto;
}
.section-four .heading {
    font-family: 'Sharp Grotesk';
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}
.section-four .text {
    font-size: 15px;
    font-weight: 400;
    opacity: .5;
    margin-bottom: 36px;
}
.section-four .btn-read {
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 13px 55px 16px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}




.section-six {
    background: #101214;
    margin-top: 90px;
    padding-bottom: 80px;
}
.section-six .heading {
    font-family: 'Sharp Grotesk';
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: -26px;
    text-align: center;
}
.section-six .card-six {
    background-color: #262626;
    border: 1px solid #ffffff1c;
    border-radius: 20px;
    padding: 0px 34px 20px;
    margin-top: 50px;
}
.section-six .card-six .icon {
    margin-top: -45px;
    margin-bottom: 24px;
}
.section-six .card-six .title {
    font-family: 'Sharp Grotesk';
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}
.section-six .card-six .text {
    font-size: 13px;
    line-height: 15px;
    color: #666666;
    margin-bottom: 22px;
}
.section-six .card-six .links a {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    border-radius: 12px;
    background-color: #151515;
    color: #ffffff13;
}

.footer-section {
    background: #101214;
}
.footer-section .footer-flex  {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0px 36px;
    margin: auto;
    border-top: 1px solid #f9fdff23;
}
.footer-section .footer-flex .copyright {
    font-size: 15px;
    color: #F9FDFF;
    opacity: 0.12;
}
.footer-section .footer-flex .footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.footer-section .footer-flex .footer-link a {
    color: #F9FDFF;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
.navbar-toggler {
    border: 0px;
    background-color: transparent;
}
.navbar-toggler-icon {
    background-image: none;
}

@media screen and (max-width:992px) {
    .header .navbar .navbar-nav1 {
        max-width: 100%;
    }
    .header .navbar .nav-link {
        padding: 10px 20px;
    }
    .header .navbar .btn-swap {
        display: inline-block;
        padding: 10px 40px !important;
    }
}
@media screen and (max-width:767px) {
    .wrapper {
        background: url('../images/mb-BG.png');
        background-size: 100% 100vh;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .header .navbar {
        background: transparent;
    }
    .hero-section {
        min-height: 290px;
        padding-top: 15px;
    }
    .hero-section .content .heading {
        font-size: 22px;
        line-height: 26px;
        max-width: 278px;
    }
    .hero-section .content .btn-download {
        font-size: 12px;
        border-radius: 12px;
        margin-bottom: 10px;
    }
    .section-one .content {
        max-width: 300px;
        font-size: 12px;
    }
    .section-one .heading {
        font-size: 22px;
    }
    .section-one .content .text {
        margin-bottom: 12px;
    }
    .section-one .heading1 {
        font-size: 24px;
    }
    .star-list {
        padding: 40px 0px;
    }
    .star-list .top-card-section {
        margin-bottom: 20px;
    }
    .star-list .top-card-section .title {
        font-size: 22px;
    }
    .star-list .top-card-section .title br {
        display: none;
    }
    .star-list .bottom-card-section .lists {
        padding-left: 30px;
    }
    .star-list .top-card-section img {
        height: 100px;
    }
    .section-two {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .section-two .heading {
        margin-bottom: 50px;
    }
    .section-two .mb-down {
        transform: rotate(65deg);
    }
    .section-two .section-two-card {
        margin-bottom: 20px;
        font-size: 21px;
        padding-left: 100px;
    }
    .section-two .section-two-card .section-count {
        left: 13px;
    }
    .section-two .footer-img {
        padding-top: 40px;
    }
    .section-two .imgg {
        width: 100px;
        margin-left: -42px;
    }
    .section-five,
    .section-three {
        padding: 60px 0px;
    }
    .section-five .heading,
    .section-three .heading {
        margin-left: -20px;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .star-list .bottom-card-section1 {
        /* display: none; */
    }
    .star-list .bottom-card-section1 .flex {
        padding-left: 0px;
    }
    .star-list .bottom-card-section1 .icon img {
        max-width: 90px;
    }
    .star-list .bottom-card-section1 .title1 {
        margin-top: 30px !important;
    }
    .star-list .bottom-card-section1 .flex .w-150 {
        margin-top: 30px !important;
    }
    .section-five .heading .mt-30,
    .section-three .heading .mt-30 {
        margin-top: 40px;
        margin-left: -20px;
    }
    .section-three .carousels-section .item-content .date {
        padding-left: 40px;
    }
    .section-three .carousels-section .item-content .carousel-card {
        padding: 0 28px 28px 3px;
    }
    .section-four .heading {
        font-size: 24px;
        margin-bottom: 18px;
    }
    .section-four .btn-read {
        padding: 13px 44px 16px;
        font-size: 13px;
    }
    .section-six .mb-flex {
        display: flex;
    }
    
    .section-six .section-count {
        margin-left: -20px;
    }
    .section-six .mb-flex .heading {
        font-size: 22px;
        margin-top: -22px;
        margin-left: -30px;
    }

    .footer-section .footer-flex .copyright {
        font-size: 12px;
    }
    .footer-section .footer-flex .footer-link a {
        font-size: 10px;
    }
    .section-six .card-six {
        margin-bottom: 20px;
    }
    .section-two .left-content .imgg{
        margin-left: 0px;
    }
    .navbar .navbar-collapse {
        min-height: 100vh;
        position: fixed;
        background: #0A65FE;
        width: 100%;
        left: 0px;
        top: 0px;
        transition: 0.3s all;
        z-index: 10000;
    }
    .navbar .navbar-collapse .mb-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding-bottom: 30px;
    }
    .h-72 {
        min-height: 72vh;
    }
    .navbar .navbar-collapse .back-button {
        padding: 20px;
    }
    .navbar .navbar-nav {
        display: none;
    }
    .navbar .navbar-collapse .navigation-heading {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 24px;
        color: #fff;
        margin-bottom: 50px;
    }
    .navbar .navbar-collapse .menus {
        margin-bottom: 25px;
    }
    .navbar .navbar-collapse .menu-link {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 20px;
        padding: 10px 30px;
        font-size: 19px;
        position: relative;
    }
    
    .navbar .navbar-collapse .menu-link::before {
        content: " ";
        width: 100%;
        height: 2px;
        background-image: url('../images/navigation-bottom.png');
        position: absolute;
        bottom: 0px;
        left: 0px;

    }
    .navbar .navbar-collapse .menu-link span.count {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        background-image: url(../images/navigation-count.png);
        width: 40px;
        height: 35px;
        background-position: center;
    }
    .navbar .navbar-collapse .footer-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
    }
    .navbar .navbar-collapse .footer-navigation a {
        color: #fff;
        padding: 8px;
        padding-left: 0px;
        text-decoration: none;
    }
    .collapse:not(.show) {
        display: block;
        top: -100vh;
    }
}
@media screen and (min-width:768px) {
    .navbar .mb-navigation {
        display: none;
    }
}




