*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #444444;
    color: #fff;
}
.wrapper{
    max-width: 1150px;
    margin: auto;
    overflow: hidden;
}
.container{
    padding: 0px 50px;
}
a{
    color: inherit;
    text-decoration: none;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.flex-box>*{
    flex-shrink: 0;
    padding-right: 12px;
    padding-left: 12px;
}
.flex-box .flex-3{
    flex: 0 0 auto;
    width: 25%;
}
.flex-box .flex-4{
    flex: 0 0 auto;
    width: 33.33333333%;
}
.flex-box .flex-5{
    flex: 0 0 auto;
    width: 41.66666667%;
}
.flex-box .flex-6{
    flex: 0 0 auto;
    width: 50%;
}
.flex-box .flex-7{
    flex: 0 0 auto;
    width: 58.33333333%;
}

.header{
    background-color: #fd8f4b;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
}
.header .navbar-menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width: 100%;
}
.header .navbar-menu .menu-link{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    /* width:calc(100% * (1/5) - 2px); */
    /* flex-grow:1; */
    /* text-align: center; */
}
.header .navbar-menu .menu-link:hover{
    /* background-color: #fff; */
    color: #b36331;
}

.hero-section{
    padding: 50px 10px;
    background-image: url('../images/retro_anime_header.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.hero-section::before{
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.hero-section .hero-content{
    padding: 40px 0px;
    max-width: 550px;
    position: relative;
}
.hero-section .hero-content .title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.hero-section .hero-content .text{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    line-height: 28px;
}

.cowboy-bepop-section{
    padding: 50px 10px;
    background-image: url('../images/Japan-Anime-Jujutsu-Kaisen-Chainsaw-Man-Demon-Slayer-Wallpaper-Cosplay-Props-A3-A4-One-Piece-Background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.cowboy-bepop-section::before{
    content: " ";
    position: absolute;
    background-color: rgba(43, 51, 116, 0.45);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.cowboy-bepop-section::after{
    content: " ";
    position: absolute;
    background-color: #fedd58;
    width: 100%;
    height: 56%;
    bottom: 0px;
    left: 0px;
    z-index: 11;
}
.cowboy-bepop-section .flex-box{
    align-items: end;
}
.cowboy-bepop-section .top-left-vector{
    position: absolute;
    top: -50px;
    left: -10px;
    z-index: 100;
}
.cowboy-bepop-section .top-left-vector img{
    width: 70px;
}
.cowboy-bepop-section .bottom-left-vector{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    height: 63%;
    overflow: hidden;
    z-index: 100;
}
.cowboy-bepop-section .bottom-left-vector img{
    width: 74%;
    height: 100%;
    filter: contrast(0.2);
}
.cowboy-bepop-section .flex-box{
    position: relative;
    z-index: 1000;
}
.cowboy-bepop-section .img-relative{
    position: relative;
    text-align: end;
}
.cowboy-bepop-section .img-relative .top-right-vector{
    position: absolute;
    top: -20px;
    right: -10px;
}
.cowboy-bepop-section .img-relative .top-right-vector img {
    width: 50px;
}
.cowboy-bepop-section .img-relative .img-title{
    transform: rotate(270deg);
    position: absolute;
    color: #000;
    bottom: 0px;
    font-size: 41px;
    font-weight: 700;
    width: 512px;
    height: 222px;
    left: -45px;
}
.cowboy-bepop-section .img-relative .img img{
    object-fit: cover;
    object-position: 0px 8px;
    height: 380px;
    width: 220px;
}

.cowboy-bepop-section .flex-box .flex-7 .top-text{
    font-size: 22px;
    max-width: 370px;
    color: #ffffff88;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.cowboy-bepop-section .flex-box .flex-7 .top-text .align-end{
    text-align: end;
    font-size: 14px;
    margin-top: 10px;
    padding-right: 8px;
}
.cowboy-bepop-section .flex-box .flex-7 .outline-text{
    text-align: end;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .012em;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}
.cowboy-bepop-section .flex-box .flex-7 .outline-text .bottom{
    color: #000;
}
.cowboy-bepop-section .flex-box .flex-7 .panel-outline{
    border: 3px solid #000;
    text-align: center;
    color: #2e4893;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    padding: 15px 6px;
}
.cowboy-bepop-section .flex-box .flex-7 .panel-outline.panel-outline1{
    margin: 0px 12px 10px;
}


.schedule-top-bg {
    position: relative;
    height: 250px;
    background-image: url(../images/outlaw-star-title.png);
    background-size: cover;
    background-position: 0px -23px;
    width: 100%;
}
.schedule-top-bg .top-right-vector{
    position: absolute;
    top: -70px;
    right: 16px;
    background-image: url(../images/2.png);
    background-size: 100% 100%;
    width: 165px;
    height: 140px;
    z-index: 1000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}
.schedule-top-bg .left-text{
    width: 41px;
    padding-left: 34px;
    padding-top: 20px;
}
.schedule-top-bg .right-text{
    text-align: end;
    padding-right: 30px;
    padding-top: 7px;
}

.space-bg{
    padding-top: 50px;
    background-image: url(../images/starrybg.jpg);
    background-size: cover;
}


.schedule-event-section .title-div{
    padding: 12px 0px;
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.schedule-event-section .schedule-div,
.schedule-event-section .title-div{
    position: relative;
}
.schedule-event-section .schedule-div::before,
.schedule-event-section .title-div::after,
.schedule-event-section .title-div::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 2px;
    background-color: #fff;
}
.schedule-event-section .title-div::after{
    bottom: 2px;
    top: auto;
    height: 1px;
    width: 55%;
}
.schedule-event-section .schedule-div::before{
    width: 60%;
}
.schedule-event-section .schedule-div{
    position: relative;
    padding-top: 50px;
}
.schedule-event-section .schedule-div .schedule-day{
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.schedule-event-section .schedule-div .schedule-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    max-width: 300px;
}

.cosplay-section{
    padding-top: 50px;
}
.cosplay-section .flex-box{
    align-items: end;
}
.cosplay-section .title {
    color: #faf900;
    font-size: 52px;
    font-weight: 700;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: center;
}
.cosplay-section .title .outline-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .012em;
}
.cosplay-section .title-bottom{
    color: #faf900;
    font-size: 22px;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: center;
    margin: 8px 0px 12px;
}
.cosplay-section .light-text{
    color: #faf900;
    opacity: 0.7;
    max-width: 390px;
    margin: auto;
    line-height: 0.8;
}
.cosplay-section .flex-box:first-child{
    align-items: center;
}
.cosplay-section .flex-box .flex-6{
    margin-bottom: 30px;
}
.cosplay-section img{
    max-width: 100%;
}
.cosplay-section .flex-box .flex-6 .text{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    line-height: 28px;
}

.space-cowboy {
    min-height: 100px;
    padding: 40px 0px;
}
.space-cowboy .upper-footer-text{
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-align: end;
}

.footer-section{
    background-color: #fff;
    color: #000;
    min-height: 100px;
    padding: 24px 10px 16px;
    text-transform: uppercase;
}
.footer-section .flex-box{
    font-size: 17px;
}
.footer-section .footer-logo{
    max-width: 140px;
}
.footer-section .footer-contact-info{
   max-width: 400px;
   margin: auto;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-section .contact-flex{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.footer-section .contact-flex.align-items-center{
    align-items: center;
}
.footer-section .contact-flex .address-text{
    font-size: 16px;
}
.footer-section .contact-flex .address-text strong{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}
.footer-section .contact-flex .contact-icon{
    width: 30px;
    height: 30px;
}
.footer-section .footer-link{
    margin-top: 12px;
}
.footer-section .footer-links a{
    display: inline-block;
}
.footer-section .footer-socil-links{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}
.footer-section .footer-socil-links .social-flex{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 12px;
}
.footer-section .footer-socil-links .social-flex img{
    width: 35px;
}

.footer-section .footer-copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
}

@media screen and (max-width:767px) {
    .container{
        padding: 0px 20px;
    }
    .header .container{
        padding: 0px 10px;
    }
    .header{
        padding: 5px 0px;
    }
    .header .navbar-menu .menu-link {
        font-size: 16px;
    }
    .hero-section{
        padding: 30px 10px;
    }
    .hero-section .hero-content{
        padding: 30px 0px
    }
    .hero-section .hero-content .title{
        font-size: 42px;
        line-height: 54px;
    }
    .cowboy-bepop-section .top-left-vector{
        top: -35px;
    }
    .flex-box .flex-3,
    .flex-box .flex-4,
    .flex-box .flex-6,
    .flex-box .flex-7,
    .flex-box .flex-5{
        width: 100%;
        margin-bottom: 12px !important;
    }
    .cowboy-bepop-section .flex-box .flex-5{
        max-width: 430px;
        margin: auto;
    }
    .cowboy-bepop-section .img-relative .img-title{
        width: 485px;
        height: 266px;
    }
    .cowboy-bepop-section::after{
        height: 67%
    }
    .cowboy-bepop-section .bottom-left-vector img{
        display: none;
    }
    .cowboy-bepop-section .flex-box .flex-7 .outline-text .top,
    .cowboy-bepop-section .flex-box .flex-7 .top-text{
        color: #000;
    }
    .schedule-event-section .title-div{
        font-size: 26px;
        line-height: 34px;
    }
    .cosplay-section .container .flex-box{
        margin-bottom: 15px;
    }
    .cosplay-section .title{
        font-size: 43px;
    }
    .cosplay-section .title-bottom{
        font-size: 18px;
    }
    .cosplay-section .flex-box .flex-6 .text{
        font-size: 16px;
        line-height: 22px;
    }
    .space-cowboy{
        padding: 20px 0px 40px;
        min-height: auto;
    }
    .space-cowboy .upper-footer-text{
        font-size: 21px;
    }

    .footer-section .flex-box> *{
        margin-bottom: 20px !important;
    }

    .footer-section .footer-logo{
        max-width: 140px;
    }
    .footer-section .footer-contact-info{
        max-width: 100%;
    }
    .footer-section .footer-socil-links{
        margin-top: 10px;
    }
    .footer-section .contact-flex .address-text{
        max-width: 450px;
    }
}
@media screen and (max-width:520px) {
    .header .navbar-menu .menu-link {
        font-size: 14px;
    }
}

